:root {
  --primary-color: #c8ac48;
  --secondary-color: #6c757d;
  --yellow-color: #f3c45e;
  --gold-color: #fbaf19;
  --light-color: #f8f9fc;
  --light-color-1: #f1f3f9;
  --dark-color: #111213;
  --dark-color-1: #1d1e20;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;

  @media (min-width: 37.5em) {
    font-size: 62.5%;
  }

  @media (min-width: 62.5em) {
    font-size: 68.75%;
  }

  @media (min-width: 112.5em) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-color);
  background-color: var(--dark-color);
  min-width: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

img {
  vertical-align: middle;
  border-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  width: 100%;
}

.img {
  width: 40rem;
  height: 40rem;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-color);
}

.link {
  color: var(--primary-color) !important;
  text-transform: uppercase;
}
